(a) Create a function and apply it to a column 

Step 1:

Define a function with a parameter "year"
If "year < 2016", status = "Joined before 2016"
If "height >= 2016", status = "Joined on 2016 or after"
The function returns "status"

Step 2:
Extract the column "Joined On" in the dataset
Create a new variable called "joined_after2016"
to assign each player to the correct age bracket 

HINT: use the ".apply()" function

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
fifa = pd.read_csv('Practice Quiz/fifa23_players_basic.csv')

In [4]:
def fn_fifa(year):
    if year < 2016:
        status = "Joined before 2016"
    elif year >= 2016:
        status = "Joined on 2016 or after"
    return(status)

display(fifa[["Joined On"]])
fifa["joined_after2016"] = fifa["Joined On"].apply(fn_fifa)
display(fifa["joined_after2016"])

       Joined On
0           2021
1           2009
2           2022
3           2015
4           2018
...          ...
18534       2018
18535       2021
18536       2022
18537       2022
18538       2020

[18539 rows x 1 columns]

0        Joined on 2016 or after
1             Joined before 2016
2        Joined on 2016 or after
3             Joined before 2016
4        Joined on 2016 or after
                  ...
18534    Joined on 2016 or after
18535    Joined on 2016 or after
18536    Joined on 2016 or after
18537    Joined on 2016 or after
18538    Joined on 2016 or after
Name: joined_after2016, Length: 18539, dtype: object

(b) Use queries + global variables

Compute the mean of the column "Height(in cm)"
and store it as a variable 

Subset the players whose value is above the mean value using .query()

HINT: Remember that there is special syntaz for when the columns have spaces. Reference the column as 'Height(in cm)' inside query

In [9]:
type(fifa["Height(in cm)"])

pandas.core.series.Series

In [ ]:
avg_height = fifa["Height(in cm)"].mean()
above_mean = fifa.query("'Height(in cm)' >= @avg_height")

(c) Use sorting + ".iloc[]"

Use ".sort_values()" to order the "Value(in Euro)" column from largest to smaller 
Get a subset with the 5 players with the highest monetary valuation

In [ ]:
fifasorted = fifa.sort_values(by = "Value(in Euro)", ascending = False)
display(fifasorted)

(d) Create a function with four inputs f(y,x,b0,b1)
e2=(y-b0-b1*x)**2

The function should return the sum of e2 entries 
This is the residual sum of squares (rss)
Call the function "fn_rss"
Let y be the column "Overall" (overall score)
Let x be the column "Age"
Does 
    (b0=50,b1=-6) or 
    (b0=50,b1=0.6) or 
     (b0=50,b1=6)
produce the lowest value of rss?

In [21]:
def fn_rss(y,x,b0,b1):
    e2 = (y-b0-b1*x)**2
    rss = e2.sum()
    return rss

y = fifa["Overall"]
x = fifa["Age"]

print(fn_rss(x, y, b0=50, b1 = -6))
print(fn_rss(x, y, b0=50, b1 = 0.6)) #lowest value of rss
print(fn_rss(x, y, b0=50, b1 = 6))

2577147528
76984765.32
3296298360