# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [1]:
print("Wendy Guerrero")

Wendy Guerrero

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:

import pandas as pd 
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [14]:
students = pd.read_csv("data_raw/students.csv")

bins_x = [0,54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels_x = ["F", "D", "C-", "C", "C+", "B-", "B", "B+", "A-", "A"]

students["lettergrade"] = pd.cut(students["numericgrade"],
                              bins = bins_x,
                              right = False,
                              labels = labels_x)

print(students.head())

   studentid  numericgrade lettergrade
0          1            61          C-
1          2             0           F
2          3            14           F
3          4            57           D
4          5            72          C+

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [15]:
# Write your own code

results = pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [33]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

print(results.head())
results.dtypes

# Based on the previous code, time is object, but the codebook (Lecture 13) results table states that time is a varchar(255). 
# However, object typically denotes strings and string is equivalent to varchar(255), making the types similar.

   resultId  raceId  driverId  constructorId number  grid position  \
0         1      18         1              1     22     1        1
1         2      18         2              2      3     5        2
2         3      18         3              3      7     7        3
3         4      18         4              4      5    11        4
4         5      18         5              1     23     3        5

  positionText  positionOrder  points  laps         time milliseconds  \
0            1              1    10.0    58  1:34:50.616      5690616
1            2              2     8.0    58       +5.478      5696094
2            3              3     6.0    58       +8.163      5698779
3            4              4     5.0    58      +17.181      5707797
4            5              5     4.0    58      +18.014      5708630

  fastestLap rank fastestLapTime fastestLapSpeed  statusId
0         39    2       1:27.452         218.300         1
1         41    3       1:27.739         217.586         1
2         41    5       1:28.090         216.719         1
3         58    7       1:28.603         215.464         1
4         43    1       1:27.418         218.385         1

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [64]:
# Write your own code here

subset = results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset["milliseconds"])
print(list_unique)

results["milliseconds"] = results["milliseconds"].replace('\\N', np.nan)

results["milliseconds"].dtype

results["milliseconds_numeric"] = pd.to_numeric(results["milliseconds"], errors= "coerce")
print(results["milliseconds_numeric"].mean())

['NaNs']
6231870.430788768

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [54]:
# Write your own code

df_aggCon_pos = (results.groupby("constructorId")
                      .agg(mean_laps = ('laps','mean'),
                           sd_laps =  ('laps','std'))
                        .sort_values(by= "mean_laps", ascending = False))


df_aggCon_pos

                mean_laps    sd_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [ ]:
df_subAggCon_pos = (results.query("raceId >= 150") 
                       .groupby("constructorId")
                        .agg(mean_points = ("position",'mean'),
                             sd_points =   ("position",'std')))

In [81]:
subset_position = results.query("position.str.isnumeric() == False")
list_unique_position = pd.unique(subset["position"])
print(list_unique_position)

old_list = ['6', '7', '8', '\\N', '12', '13', '14', '15', '16', '17', '18', '19', '10', '11', '4',
 '5', '9', '20', '21', '3', '2', '22', '23', '24', '25', '26', '27', '28', '29', '30',
 '31', '32', '33']
new_list = [6, 7, 8, np.nan, 12, 13, 14, 15, 16, 17, 18, 19, 10, 11, 4,
 5, 9, 20, 21, 3, 2, 22, 23, 24, 25, 26, 27, 28, 29, 30,
 31, 32, 33]

results["position"] = results["position"].replace(old_list, new_list)

results["position_numeric"] = pd.to_numeric(results["position"])

df_subAggCon_pos = (results.query("raceId >= 150") 
                       .groupby("constructorId")
                        .agg(mean_points = ("position_numeric",'mean'),
                             sd_points =   ("position_numeric",'std')))
df_subAggCon_pos

['6' '7' '8' '\\N' '12' '13' '14' '15' '16' '17' '18' '19' '10' '11' '4'
 '5' '9' '20' '21' '3' '2' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33']

               mean_points  sd_points
constructorId
1                 6.121634   4.294358
3                 7.983836   5.509701
4                 8.617834   4.388534
5                11.430868   3.157308
6                 4.733661   3.395834
...                    ...        ...
209              16.333333   2.420002
210              13.293860   3.770574
211               9.230769   4.030234
213              10.519608   3.842777
214               8.763158   3.354076

[203 rows x 2 columns]